    /* Navbar */
.navbar.default-layout {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #00e4d0, #5983e8);
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease; }
  .navbar.default-layout .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #ffffff;
    width: 255px;
    height: 63px; }
    .sidebar-dark .navbar.default-layout .navbar-brand-wrapper {
      background: #161a27; }
    .navbar.default-layout .navbar-brand-wrapper .navbar-brand {
      color: #ffffff;
      font-size: 1.5rem;
      line-height: 48px;
      margin-right: 0;
      padding: 0.25rem 0;
      display: -webkit-flex;
      display: flex; }
      .navbar.default-layout .navbar-brand-wrapper .navbar-brand:active, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:focus, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
        color: #424546; }
      .navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
        width: calc(255px - 130px);
        max-width: 100%;
        height: 28px;
        margin: auto;
        vertical-align: middle; }
    .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
      display: none; }
   

    #Bill {
        max-width: 800px;
        margin: auto;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
        display:none;
    }

    #Bill table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    #Bill table td {
        padding: 5px;
        vertical-align: top;
    }

    #Bill table tr td:nth-child(2) {
        text-align: right;
    }
    #Bill table tr td:nth-child(3) {
        text-align: right;
    }

    #Bill table tr.top table td {
        padding-bottom: 20px;
    }

    #Bill table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    #Bill table tr.information table td {
        padding-bottom: 40px;
    }

    #Bill table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    #Bill table tr.details td {
        padding-bottom: 20px;
    }

    #Bill table tr.item td{
        border-bottom: 1px solid #eee;
    }

    #Bill table tr.item.last td {
        border-bottom: none;
    }

    #Bill table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        #Bill table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        #Bill table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
