@font-face {
    font-family: "comelo";
    src: url(../font/comelo.ttf);
}

html, body, .wrapper, .row, .container-fluid {
    height: 100%;
}
div.itemRow{
    height: 20px;
}

html {
    overflow: hidden;
}

div.comelo {
    background-image: linear-gradient(to right, #FF0000, #FF8000);
    width: 100%;
    padding: 0;
}

h1.comelo {
    font-size: 48px;
    padding: 2px;
    color: #fff;
    font-family: comelo, serif;
}

div.restaurant-name {
    padding: 0;
}

div.btn-order-list {
    padding: 0;
}

div.btn-pay {
    padding: 0;
}

button.pay {
    width: 100%;
}

button.order-list {
    width: 100%;
}

div.order-list {
    color: white;
    overflow: scroll;
    background: #333030;
}
.setHeight{
    height: 30px;
    width:100%;
}

div.food-beverage {
    background: #fff;
    box-shadow: 0 2px 8px #888888;
    overflow: hidden;
}

.food {
    margin-right: 25px;
}


h3.food {
    margin-left: 42px;
}

.menu-list {
    overflow: scroll;
    padding: 12px 12px 100px 12px;
}

.selected h3{
    background-color: orange;
}
a {
    text-decoration: none;
    color: black;
}

.card-menu {
    height: 300px;
    margin-bottom: 6px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid #555;
}

.card-body {
    padding: 0;
    margin: 0;
}

.menu-desc {
    margin: 0;
}

.min-btn {
    color: #fff;
    background: #FF8000;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.plus-btn {
    color: #fff;
    background: #FF8000;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.footer-button {
    padding: 0;
    height: 100%;
}

button.order {
    height: 100%;
}

.order-btn {
    background: #FF8000;
}