@font-face {
    font-family: "comelo";
    src: url(../font/comelo.ttf);
}

html, body, .wrapper, .row, .container-fluid {
    height: 100%;
}

html {
    overflow: hidden;
}

div.comelo {
    background-image: linear-gradient(to right, #FF0000, #FF8000);
    width: 100%;
}

h1.comelo {
    font-size: 68px;
    padding: 2px;
    color: #fff;
    font-family: comelo, serif;
}

.menu-list {
    overflow-y: scroll;
    padding: 12px;
}

.menu-category-list {

    background-color: #000;
}
.menu-category-list h3 {
    color: #999;
    background-color: #333;
}
.menu-category-list h3.selected {
    color: white;
    background-color: #666;
}

.card {
    height: 300px;
    margin-bottom: 6px;
}

.edit-btn {
    color: #fff;
    background: #FF8000;
    width: 100%;
    border-radius: 0;
    border-color: #4F5155;
}

.delete-btn {
    color: #fff;
    background: #FF8000;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-color: #4F5155;
}

.add-btn {
    color: #fff;
    background: #FF8000;
    width: 100%;
    border-radius: 0;
    font-size: 120px;
}

.footer-button {
    padding: 0;
}

.modal-backdrop {
    opacity: 0.5 !important;
}